.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: full;
  padding: 0.5rem 10px;
  transition: 0.3s;
  cursor: pointer;
}

.listItem:hover {
  background-color: rgb(240, 240, 240);
}
