.appHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 0.5rem 1rem;
}

.appHeaderContainerLeftSlot {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttonGroup {
  display: flex;
  gap: 0.3rem;
}
