.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.container img {
  width: 30%;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animatedImage {
  width: 200px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -20px
    ); /* Adjust the distance you want the image to move */
  }
}
